

<div>
    <button class="but btn-success">+ Painting</button>
</div>

<hr>
<div class="container">
  <div class="row" *ngFor="let painting of paintings">
    <div class="col">
        <a href="#" class="list-group-item clearfix" >
         <div class="row">
            <div class="col-sm-10">
                <h4 class="list-group-item-heading">{{ painting.name }}</h4>
                <p class="list-group-item-text col-md-10">{{ painting.desc }}</p>
            </div>

            <div class="col-sm-auto">
              <img [src]="painting.imagePath" alt="{{ painting.name }}" class="img-responsive" style="max-height: 80px;" >
           </div>    
        </div>  
        </a>
    </div>
    </div>
  </div>
  <app-painting-item></app-painting-item>
