
  <div class="row">
    <div class="col-md-12">
        <button class="but btn-success">+ Painting</button>
    </div>
  </div>
<hr>
<div class="container">
  <div class="row" *ngFor="let painting of paintings">
    <div class="col col-md-12">
        <a href="#" class="list-group-item clearfix" >
            <div class="float-left">
                <h4 class="list-group-item-heading">{{ painting.name }}</h4>
                <p class="list-group-item-text">{{ painting.desc }}</p>
            </div>
            <span class="float-right">
              <img [src]="painting.imagePath" alt="{{ painting.name }}" class="img-responsive" style="max-height: 80px;" >
            </span>
        </a>
    </div>
  </div>
  <app-painting-item></app-painting-item>
</div>